Sec-WebSocket-Protocol header cannot be present when there is no negotiated subprotocol

RFC6455 section 4.2.2 has the following content:

if the server does not agree to any of the client's requested
subprotocols, the only acceptable value is null. The absence
of such a field is equivalent to the null value (meaning that
if the server does not wish to agree to one of the suggested
subprotocols, it MUST NOT send back a |Sec-WebSocket-Protocol|
header field in its response). The empty string is not the
same as the null value for these purposes and is not a legal
value for this field.
#### Affected Versions
[1.3]